.mainSplitPane{
    -fx-background-color: lightgray;
    -fx-max-width: 500pt;
    -fx-min-width: 500pt;
}
.splitSearch{
    -fx-background-color: lightgray;
    -fx-max-height: 150pt;
    -fx-min-height: 150pt;
}
.searchText{
    -fx-padding:10 10 10 10;
    -fx-background-color: lightgray;
}
.searchOptionsBlock{

}
