#up {
    -fx-background-image: url("../img/upButton.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
.label{
    -fx-text-fill: #a5a5a4;
}
#down {
    -fx-background-image: url("../img/downButton.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.button{
    -fx-background-color: rgb(143, 143, 142);
}

.text-field{
    -fx-background-color: rgba(185, 185, 184, 0.69);
}

.text-area{
    -fx-background-insets: 0;
    -fx-text-fill: #a5a5a4;
    -fx-background-color: rgba(39, 39, 38, 0.95), rgba(39, 39, 38, 0.95), rgba(39, 39, 38, 0.95), rgba(39, 39, 38, 0.95);
}
.text-area .content{
    -fx-background-color: rgba(39, 39, 38, 0.95), rgba(39, 39, 38, 0.95), rgba(39, 39, 38, 0.95), rgba(39, 39, 38, 0.95);
    -fx-font-size: 14px;
    -fx-font-family: "Times New Roman", Helvetica, Sans-serif;
}
